@model WuzlStats.ViewModels.Players.IndexViewModel

<p>These are all the players. Ever.<br />No one will be forgotten. Shame and fame will last till the very end of days, or at least until a database crash with no backups.</p>

<table class="table table-striped">
    <tr>
        <th>Player</th>
        <th>Last game</th>
        <th>Played in a team</th>
        <th>Played alone</th>
    </tr>

    @foreach (var p in Model.Players)
    {
        <tr>
            <td>@Html.ActionLink(p.Name, "Index", "Player", new { playerName = p.Name }, null)</td>
            <td>
                @p.LastPlayedDate.ToShortDateString()
            </td>
            <td>
                <span class="glyphicon glyphicon-thumbs-up"></span> @p.TeamGameWins &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-down"></span> @p.TeamGameLosses
            </td>
            <td>
                <span class="glyphicon glyphicon-thumbs-up"></span> @p.SingleGameWins &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-down"></span> @p.SingleGameLosses
            </td>
        </tr>
    }
</table>