@model WuzlStats.ViewModels.Player.TeamPlayerStats

<div class="panel panel-default">
    <div class="panel-heading">Teams</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-5">
                <label>Games played:</label>
            </div>
            <div class="col-sm-7"><span class="glyphicon glyphicon-thumbs-up"></span> @Model.WinsCount &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-down"></span> @Model.LossesCount</div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <label>Favorite partner:</label>
            </div>
            <div class="col-sm-7">@Model.FavoritePartner</div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <label>Favorite team:</label>
            </div>
            <div class="col-sm-7">
                @{
                    var labelClass = Model.FavoriteTeam == "Red" ? "redTeam" : "blueTeam";
                }
                <span class="label @(labelClass)">@Model.FavoriteTeam</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <label>Favorite position:</label>
            </div>
            <div class="col-sm-7">@Model.FavoritePosition</div>
        </div>

    </div>
</div>
