@model WuzlStats.ViewModels.Home.IndexViewModel

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Singles", "Home"))
        {
            <div class="row">
                <div class="col-xs-4" style="margin-top:3px;">
                    @Html.TextBoxFor(x => x.BluePlayer, new { placeholder = "Blue Player", required = "required", @class = "form-control blueTeam", list = "players", autocomplete = "off", style = "width:100%;", @title="Blue Player" })<br />
                </div>
                <div class="col-xs-4" style="font-size: 1.5em; padding:0;">
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(x => x.BlueScore, new { required = "required", style = "max-width:50px; font-size: 1em; height: 2em; text-align:center; margin-right: auto; margin-left: auto;", @class = "form-control blueTeam", title="Blue Score" })
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(x => x.RedScore, new { required = "required", style = "max-width:50px; font-size: 1em; height:2em; text-align:center; margin-right: auto; margin-left: auto;", @class = "form-control redTeam", title="Red Score" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="margin-top:3px;">
                    @Html.TextBoxFor(x => x.RedPlayer, new { placeholder = "Red Player", required = "required", @class = "form-control redTeam", list = "players", autocomplete = "off", style = "width:100%;", title="Red Player" })<br />
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-xs-4">
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary" style="width:100%;">Save Score</button>
                </div>
                <div class="col-xs-4" style="text-align: center;">
                    <span id="switchSingles" class="glyphicon glyphicon-transfer" style="color: #e3e3e3; cursor: pointer; font-size: 1.5em; margin-top: 0.25em;" title="Swap players"></span>
                </div>
            </div>
        }

        <div class="well hidden-sm hidden-xs" style="margin-top:310px;">
            <div class="pull-right"><span style="padding-left: 30px;">@Html.ActionLink("Delete score", "Index", "Delete")</span></div>
            <p>
                All stats only include the scores of the last 30 days. Also, ties are for pussies and are not counted at all.
            </p>
            <p>
                If you're curious about how the highly sophisticated ranking algorithm for best/worst players and most goals work, here's it:
                <code>losses == 0 ? wins : (wins == 0 ? 0.1 / losses : wins / losses)</code>
            </p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Best players</label>
                    @Html.Partial("PlayerResultsTable", Model.SingleResults.BestPlayers.Take(5))
                </div>
                <div class="col-sm-6">
                    <label>Worst players</label>
                    @Html.Partial("PlayerResultsTable", Model.SingleResults.WorstPlayers.Take(5))
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Most active players</label>
                    @Html.Partial("PlayerResultsTable", Model.SingleResults.MostActivePlayers.Take(5))
                </div>
                <div class="col-sm-6">
                    <label>Most gooooaals</label>
                    @Html.Partial("PlayerResultsTable", Model.SingleResults.MostGoals.Take(5))
                </div>
            </div>
        </div>
    </div>
</div>

