@model WuzlStats.ViewModels.Home.IndexViewModel
<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("Teams", "Home"))
        {

            <div class="row">
                <div class="col-xs-4">
                    <label>Blue Team</label>
                    @Html.TextBoxFor(x => x.BlueOffensePlayer, new { placeholder = "Offense Player", required = "required", @class = "form-control", list = "players", autocomplete = "off", style = "width:100%;" })<br />
                    @Html.TextBoxFor(x => x.BlueDefensePlayer, new { placeholder = "Defense Player", required = "required", @class = "form-control", list = "players", autocomplete = "off", style = "width:100%;" })
                </div>
                <div class="col-xs-4" style="font-size: 1.5em; margin-top:40px; padding:0;">
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(x => x.BlueScore, new { required = "required", style = "max-width:50px; font-size: 1em; height: 2em; text-align:center; margin-right: auto; margin-left: auto;", @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(x => x.RedScore, new { required = "required", style = "max-width:50px; font-size: 1em; height:2em; text-align:center; margin-right: auto; margin-left: auto;", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Red Team</label>
                    @Html.TextBoxFor(x => x.RedOffensePlayer, new { placeholder = "Offense Player", required = "required", @class = "form-control", list = "players", autocomplete = "off", style = "width:100%;" })<br />
                    @Html.TextBoxFor(x => x.RedDefensePlayer, new { placeholder = "Defense Player", required = "required", @class = "form-control", list = "players", autocomplete = "off", style = "width:100%;" })
                </div>
            </div>
            <p style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-primary" style="width:33%;">Save Score</button>
            </p>
        }

        <div class="well hidden-sm hidden-xs" style="margin-top:13px;">
            <div class="pull-right"><span style="padding-left: 30px;">@Html.ActionLink("Delete score", "Index", "Delete")</span></div>
            <p>
                All stats only include the scores of the last 30 days. Also, ties are for pussies and are not counted at all.
            </p>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Most active players</label>
                    @Html.Partial("PlayerResultsTable", Model.TeamResults.MostActivePlayers.Take(5))
                </div>
                <div class="col-sm-6">
                    <label>Best teams</label>
                    @Html.Partial("TeamResultsTable", Model.TeamResults.BestTeams.Take(5))
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Best players</label>
                    @Html.Partial("PlayerResultsTable", Model.TeamResults.BestPlayers.Take(5))
                </div>
                <div class="col-sm-6">
                    <label>Worst players</label>
                    @Html.Partial("PlayerResultsTable", Model.TeamResults.WorstPlayers.Take(5))
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Best offense players</label>
                    @Html.Partial("PlayerResultsTable", Model.TeamResults.BestOffensePlayers.Take(5))
                </div>
                <div class="col-sm-6">
                    <label>Best defense players</label>
                    @Html.Partial("PlayerResultsTable", Model.TeamResults.BestDefensePlayers.Take(5))
                </div>
            </div>
        </div>
    </div>
</div>

