@model WuzlStats.ViewModels.Delete.IndexViewModel

<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Blue</th>
        <th>Score</th>
        <th>Red</th>
        <th></th>
    </tr>

    @foreach (var s in Model.Scores)
    {
        <tr>
            <td>@s.DateTime</td>
            <td>
                @if (s.BlueScore > s.RedScore)
                {
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                }
                @s.TeamBlue
            </td>
            <td><b>@s.BlueScore : @s.RedScore</b></td>
            <td>
                @if (s.BlueScore < s.RedScore)
                {
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                }
                @s.TeamRed
            </td>
            <td>
                <a href="@Url.Content("~/Delete/" + s.Id)" class="btn btn-danger" onclick="return confirm('Sure?');">Delete</a>
            </td>
        </tr>
    }
</table>